// Cornell.edu Typography (requires the Freight webfont families to be included (e.g., via TypeKit)
$cornell-font-family-serif: 'freight-text-pro', serif;
$cornell-font-family-sans-serif: 'freight-sans-pro', sans-serif;

// CWD Base Framework Typography (primarily a system font stack, though Proxima Nova use would require a webfont include (e.g., via TypeKit)
$cwd-font-family-serif: Georgia, serif;
$cwd-font-family-sans-serif: Verdana, sans-serif;
$cwd-font-family-base: $cwd-font-family-sans-serif;
$cwd-font-family-monospace: Courier, monospace;
$cwd-font-family-sans-alt: Avenir Next, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica Neue, sans-serif;
$cwd-font-family-sans-ui: -apple-system, system-ui, BlinkMacSystemFont, Avenir Next, 'Segoe UI', Roboto, Helvetica Neue, sans-serif;
$cwd-font-family-serif-alt: Iowan Old Style, Georgia, Athelas, Baskerville, Sitka Display, Constansia, serif;
$cwd-font-family-serif-unit: Iowan Old Style, Georgia, serif;
// Different Windows browsers handle Segoe UI weights differently. When more precision and reliability is needed, these alternate declarations can help (paired with the appropriate font-weight):
$cwd-font-family-sans-alt-semibold: Avenir Next, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI Semibold', 'Segoe UI', Roboto, Helvetica Neue, sans-serif;
$cwd-font-family-sans-alt-bold: Avenir Next, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI Bold', 'Segoe UI', Roboto, Helvetica Neue, sans-serif;
$cwd-font-family-sans-alt-light: Avenir Next, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI Light', 'Segoe UI', Roboto, Helvetica Neue, sans-serif;
$cwd-font-family-sans-small: Avenir Next, -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI Light', 'Segoe UI', Roboto, Helvetica Neue, sans-serif;

// Layout/Grid
$cwd-container-fluid-max-width: 1280px;
$cwd-45px-true-height: 48px; // Only partially implemented (a lot of things would need to be tweaked to make this work as a master switch, and buttons would begin to look outrageous at a certain height!)

// Color
$cwd-color-link: #1176ac; // default text link color
$cwd-color-link-hover: #000; // text link :hover color (also used for :focus)
$cwd-color-link-active: #666; // text link :active color
$cwd-color-button: #2d668e; // default button link color
$cwd-color-button-hover: #2471a7; // text button :hover color (also used for :focus)
$cwd-color-button-active: #185076; // text button :active color
$cwd-color-min-contrast: #707070; // The minimum contrast of gray text over light gray (#f7f7f7) background to meet accessibility guidelines (4.5:1)
$cwd-color-min-contrast-large: #949494; // The minimum contrast of gray text over white background to meet accessibility guidelines for large, bolder text (3:1)
$cwd-color-min-contrast-ui: #949494; // The minimum contrast of gray elements over white background to meet accessibility guidelines for ui elements (3:1)
$cwd-color-accent-heading-h2: #b31b1b; // Applies an accent color to basic heading level 2, informed by your custom design (use #000 to pass on this option)
$cwd-color-accent-heading-h3: #000; // Applies an accent color to basic heading level 3, informed by your custom design (use #000 to pass on this option)
$cwd-color-accent-text: #7ab034; // Accent color to call extra attention to text, borders, or other visual trim (e.g., names of buttons described in tutorial, or perhaps an active element among a set)
$cwd-color-accent-text-contrast: #4d7b11; // If needed, a darker variant of your accent color for use on text to meet accessibility guidelines for small and medium text
$cwd-color-subheading-text: #707070; // Accent color for subheadings that appear under a main title (e.g., categories under news headlines) - be mindful of link colors when selecting this color, to avoid miscommunication of links vs. non-links  
$headings-small-color: inherit; // Override Bootstrap's forced gray color for <small> tags inside headings

// Bootstrap Compatibility
$grid-gutter-width: 30px;
$screen-xs-min: 480px;
$screen-ks-min: 624px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-ml-min: 1080px;
$screen-lg-min: 1200px;
$screen-xl-min: 1480px;



// Mixins

@mixin text-decoration-color($value) {
	-moz-text-decoration-color: $value;
	-webkit-text-decoration-color: $value;
	text-decoration-color: $value;
}
