<div id="cu-search" class="cu-search">
  <div class="container-fluid">
    <form id="cu-search-form" tabindex="-1" role="search" action="//cornell.edu/search/">
      <label for="cu-search-query" class="sr-only">Search:</label>
      <input type="text" id="cu-search-query" name="q" value="" size="30">
      <button name="btnG" id="cu-search-submit" type="submit" value="go"><span class="sr-only">Submit search</span></button>

      <fieldset class="search-filters" role="radiogroup">
        <legend class="sr-only">Search filters</legend>
        <input type="radio" id="cu-search-filter1" name="sitesearch" value="thissite" checked="checked">
        <label for="cu-search-filter1"><span class="sr-only">Search </span>This site</label>
        <input type="radio" id="cu-search-filter2" name="sitesearch" value="cornell">
        <label for="cu-search-filter2"><span class="sr-only">Search </span>Cornell</label>
      </fieldset>
    </form>
  </div>
</div>
