{# PLACEHOLDER until if/when footer stuff is removed from cwd_base/page.html.twig, or we add a page.html.twig template override to cwd_project. #}
<footer aria-label="Site footer">
  <div class="main-footer">
    <div class="container-fluid sidebar-left">
      <div class="row">
        <div class="primary">
          {{ page.footer_primary }}
        </div>
        <div class="secondary">
          {{ page.footer_secondary }}
        </div>
      </div>
    </div>
  </div>
  <div class="sub-footer">
    <div class="container-fluid sidebar-left">
      <div class="row">
        <div class="content">
          <div class="privacy">
            <a href="#">University Privacy</a>
          </div>

          <div class="footer-accessibility">
            <a href="https://www.cornell.edu/accessibility-assistance.cfm">Web Accessibility Assistance</a>
          </div>
        </div>
      </div>
      {{ page.subfooter }}
    </div>
  </div>
</footer>
