// CWD Component: Basic (card grid and listing with shared markup)
// ---------------------------------------------------------------------------
// Recommended breakpoints to match base theme:
// @media (min-width: 321px) - above 3.5" phones begins
// @media (min-width: 480px)
// @media (min-width: 624px)
// @media (min-width: 768px) - tablet begins, sidebar begins
// @media (min-width: 992px) - desktop main navigation begins
// @media (min-width: 1080px)
// @media (min-width: 1200px)
// @media (min-width: 1400px) - maximum content width begins


// Component Class
.cwd-basic {
	
	.cards {
		@extend .flex;
		clear: both;
		margin-left: -10px;
		margin-right: -10px;
		
		@media (min-width: 992px) {
			margin-left: -15px;
			margin-right: -15px;
		}
		@media (min-width: 1200px) {
			margin-left: -20px;
			margin-right: -20px;
		}
	}
	
	.card {
		width: 100%;
		max-width: 500px;
		padding: 30px 10px 0;
		margin: 0 auto;
		position: relative;
		
		&:after {
			content: '';
			display: block;
			padding-top: 20px;
			clear: both;
		}
		&:first-of-type {
			padding-top: 10px;
		}
		
		@media (min-width: 768px) {
			max-width: none;
			margin: 0;
			
			&:after {
				padding-top: 25px;
				border-bottom: 1px solid #ededed;
			}
			&:last-of-type:after {
				border: 0;
			}
		}
		@media (min-width: 992px) {
			padding-left: 15px;
			padding-right: 15px;
		}
		@media (min-width: 1200px) {
			padding-left: 20px;
			padding-right: 20px;
		}
		
		img {
			width: 100%;
			margin-bottom: 15px;
			
			@media (min-width: 768px) {
				margin-bottom: 5px;
			}
		}
		h3 {
			margin-bottom: 0.6em;
			
			.deco {
				padding-bottom: 0.2em;
			}
			& + h4 {
				margin-top: -0.3em;
			}
		}
		a {
			h3:not(.designer) {
				text-decoration: underline;
				color: $project-color-link !important;
			}
			&:hover h3:not(.designer) {
				color: $project-color-link-hover !important;
			}
			&:active h3:not(.designer) {
				color: $project-color-link-active !important;
			}
		}
		.group-image a {
			text-decoration: none;
			display: block;
		}
		.group-noimage a {
			text-decoration: none;
		}
		
		@media (min-width: 768px) {
			.group-image + .group-fields {
				width: 77%;
				float: right;
			}
			.group-image a img {
				//max-width: 180px;
				width: 20%;
				float: left;
				margin-right: 3%;
			}
		}
	
	}
	
	.header-with-button {
		margin-bottom: 30px;
	}
	.pager {
		margin-top: 20px;
	}
	.component-footer {
		max-width: 480px;
		margin: 30px auto 0;
		text-align: center;
		
		@media (min-width: 768px) {
			max-width: none;
			margin: 30px 0 0;
		}
		
		.link-button {
			border: 1px solid #ccc;
			padding: 1em 3em;
			border-radius: 100px;
			background: none;
			color: $project-color-link;
			
			&:hover {
				color: $project-color-link-hover;
				border-color: #bbb;
				background: rgba(0,0,0,0.05);
			}
			&:active {
				color: $project-color-link-active;
				border-color: #aaa;
				background: rgba(0,0,0,0.08);
			}
		}
	}
	
	
	
	
	
	
	// Container Class Options ---------------------------------
	
	
	// .tiles
	&.tiles {
				
		.card {
			@media (min-width: 768px) {
				
				width: 50%;
				margin: 0 0 20px;
				padding-top: 0;
				padding-bottom: 0;
				
				@media (min-width: 992px) {
					margin-bottom: 30px;
				}
				@media (min-width: 1200px) {
					margin-bottom: 40px;
				}
				
				&:after {
					content: none;
				}
				
			}
			@media (min-width: 1200px) {
				width: 33.33333%;
			}
		}
		.group-fields, .group-image a img {
			width: 100% !important;
			float: none;
			margin: 0;
		}
		.group-fields {
			margin-top: 15px;
		}
		.group-image {
			display: block;
			position: relative;
			
			a, .deco, h3 {
				color: #fff;
				@include text-decoration-color( rgba(255,255,255,0.5) );
			}
			a {
				display: block;
				transition: background 0.15s, box-shadow 0.15s;
				
				&:hover {
					background: rgba(0,0,0,0.05);
					box-shadow: 0 0 0 15px rgba(0,0,0,0.06);
					
					color: #fff;
					.deco, h3 {
						color: #fff;
						@include text-decoration-color( rgba(255,255,255,0.9) );
					}
				}
				&:active {
					background: rgba(0,0,0,0.09);
					box-shadow: 0 0 0 15px rgba(0,0,0,0.1);
					
					color: #ccc;
					.deco, h3 {
						color: #ccc;
						@include text-decoration-color( rgba(255,255,255,0.3) );
					}
				}
				
				.overlay {
					position: absolute;
					z-index: 3;
					left: 0;
					right: 0;
					bottom: 0;
					padding: 0 15px 20px;
					text-align: center;
					overflow: hidden;
					color: #fff;
					
					& :last-child {
						margin-bottom: 0;
					}
				}
			}
			
			img {
				position: static;
				width: 100%;
			}
			&:before {
				@extend .stunt-double-lite;
				content: '';
				background: rgba(0,0,0,0.6);
				background: -moz-linear-gradient(top, rgba(0,0,0,0) 40%, rgba(0,0,0,0.8) 100%);
				background: -webkit-linear-gradient(top, rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) 100%);
				background: linear-gradient(to bottom, rgba(0,0,0,0) 40%,rgba(0,0,0,0.8) 100%);
				z-index: 2;
				pointer-events: none;
			}
		}
		
		&.max-1 {
			// NYI
		}
		&.max-2 {
			@media (min-width: 1200px) {
				.card {
					width: 50%;
				}
			}
		}
		&.max-4 {
			@media (min-width: 768px) {
				.cards {
					margin-left: -13px;
					margin-right: -13px;
				}
				.card {
					padding-left: 13px;
					padding-right: 13px;
				}
			}
			@media (min-width: 1080px) {
				.card {
					width: 33.33333%;
				}
			}
			@media (min-width: 1400px) {
				.cards {
					margin-left: -15px;
					margin-right: -15px;
				}
				.card {
					width: 25%;
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
		&.max-4-2 {
			@media (min-width: 1200px) {
				.cards {
					margin-left: -15px;
					margin-right: -15px;
				}
				.card {
					width: 25%;
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
		&.max-3-1 {
			@media (min-width: 768px) {
				.card {
					width: 33.33333%;
				}
			}
		}
		&.no-overlay {
			
			.group-image {
			
				.deco, h3 {
					color: $project-color-link;
					text-decoration: underline;
					@include text-decoration-color( rgba(17,121,177,0.5) );
				}
				h3.designer, h3.designer .deco {
					text-decoration: none;
					color: #333;
				}
				a {
				
					.overlay {
						position: static;
						margin-top: 12px;
						padding: 0;
						text-align: left;
					
					}
					
					&:hover, &:hover .deco, &:hover h3 {
						color: $project-color-link-hover;
						@include text-decoration-color( rgba(0,0,0,0.7) );
					}
					&:active, &:active .deco, &:active h3 {
						color: $project-color-link-active;
						@include text-decoration-color( rgba(0,0,0,0.4) );
					}
				}
				&:before {
					content: none;
				}
			}
		}
		&:not(.no-overlay) {
			
			.card a {
				
				h3:not(.designer) {
					color: #fff !important;
					@include text-decoration-color( rgba(255,255,255,0.5) );
				}
				&:hover h3:not(.designer) {
					@include text-decoration-color( rgba(255,255,255,1) );
				}
				&:active h3:not(.designer) {
					color: #ccc !important;
					@include text-decoration-color( rgba(255,255,255,0.5) );
				}
				
				h4, p, div {
					color: #ccc !important;
				}
				
			}
			
		}
	}
	
	
	// .card-slider (compatibility for Card Slider interface)
	&.card-slider {
		
		.cards {
			margin-left: -15px;
			margin-right: -15px;
		}
		.card {
			max-width: none;
			padding-left: 15px;
			padding-right: 15px;
			
			@media (min-width: 768px) {
				padding: 0 15px !important;
			}
		}
		
		@media (min-width: 768px) {
			.cards {
				-webkit-flex-wrap: nowrap;
				-ms-flex-wrap: nowrap;
				flex-wrap: nowrap;
			}
			.card:after {
				content: none;
			}
		}
		
		&.tiles {
			// Adjust margins and padding to prevent bow-shadow hover state from being cut off by overflow:
// 			.mask {
// 				margin-left: -15px;
// 				margin-right: -15px;
// 			}
// 			.cards {
// 				padding: 15px
// 			}
			// The solution above works, but causes problems with the Card Slider's calculations. For now, we'll disable the box-shadows ahead of a possible solution in the future:
			.group-image a {
				box-shadow: none !important;
			}
		}
	}
	
	
	
	// Animated scaling effect on hover (tiles only)
	&.animate {
		
		// no effect on listing mode
		
		&.tiles {
			.group-image {
				overflow: hidden;
			}
			a img {
				transition: transform 0.3s ease-out;
			}
			a:hover img {
				transform: scale(1.05);
				transition: transform 0.3s ease-out;
			}
		}
	}
	
	// Collapse tile grid, removing space between (tiles only)
	&.collapse {
		
		// no effect on listing mode
		
		&.tiles {
			.cards {
				margin-left: 0 !important;
				margin-right: 0 !important;
			}
			.card {
				padding: 0 !important;
			}
		}
	}
	
}

// .dark (for display over dark backgrounds)
.dark .cwd-basic, .cwd-basic.dark {
	color: #ddd;
	
	h2 {
		color: #ededed;
	}
	// more work would be needed for dark support (finish the "all events" link below and adjust the text, link, and icon colors on cards) 
	a, a h3:not(.designer) {
		color: #fff !important;
		@include text-decoration-color( rgba(255,255,255,0.5) );
				
		&:hover, &:hover * {
			@include text-decoration-color( rgba(255,255,255,1) );
			border-color: rgba(255,255,255,0.7) !important;
		}
		&:active, &:active * {
			color: #ccc !important;
			border-color: rgba(255,255,255,0.5) !important;
			@include text-decoration-color( rgba(255,255,255,0.5) );
			
		}
		
		* {
			color: #fff !important;
		}
	}
	.card:after {
		border-color: rgba(255,255,255,0.2);
	}
	.component-footer .link-button {
		color: #fff;
		border-color: rgba(255,255,255,0.3);
		
		&:hover {
			border-color: rgba(255,255,255,0.5);
			background: rgba(0,0,0,0.1);
		}
		&:active {
			border-color: rgba(255,255,255,0.4);
			background: rgba(0,0,0,0.18);
		}
	}
	
	&.tiles {
		.group-image a {
			&:hover {
				background: rgba(255,255,255,0.12);
				box-shadow: 0 0 0 15px rgba(255,255,255,0.12);
			}
			&:active {
				background: rgba(255,255,255,0.08);
				box-shadow: 0 0 0 15px rgba(255,255,255,0.08);
			}
		}
		
		&.no-overlay {
			.group-image {
				.deco, h3 {
					@include text-decoration-color( rgba(255,255,255,0.5) );
				}
				a {
					&:hover, &:hover .deco, &:hover h3 {
						@include text-decoration-color( rgba(255,255,255,0.8) );
					}
					&:active, &:active .deco, &:active h3 {
						@include text-decoration-color( rgba(255,255,255,0.6) );
					}
				}
			}
		}
		
		
	}
}