{#
/**
 * Add to view wrapper classes.
 */
#}

{% set view_add_classes = ['cwd-news'] %}
{% embed "@cwd_base/views-view.html.twig" with {
  'view_add_classes': view_add_classes,
} %}

{% block view_sr_heading %}
  <h2 class="sr-only">Full listing</h2>
{% endblock %}

{% endembed %}
